* {
    margin: 0;
    padding: 0;
    /*font-family: cursive;*/
}

.topo {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--limao3);
    background: white;
    box-shadow: 0 0 2px silver;
    padding: 0px 15%;
}

.icone {
    /*float: left;*/
    /*margin: 10px 0 0 160px*/
}

.icone img {
    width: 60px;
    height: auto;
    position: relative;
    margin: 0;

}

.menu {
    /*position: absolute;*/
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    display: inline-flex;
    /*padding: 10px;*/
    margin: 0;
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin: 0;
}

.menu ul li a:hover {
    color: orange
    /*font-size: 16px;*/
}


main{
    padding-top: 10vh;
    height: 100vh;
    display: block;
    margin-bottom: 0;
    background: white;
}

.quem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.quem h1{
    font-size: 6em;
    font-weight: bold;
}

footer{
    clear: both;
}

footer {
    background: var(--leijo);
    width: 100%;
    height: 60px;
    height: auto;
    text-align: center;
    color: #f2f2f2;
    position: relative;
    margin-top: -60px;
}



.conteudo {
    width: 100%;
    /*padding-top: 250px;*/
    /*padding-bottom: 250px;*/
    background: url('../img/burger-3442227_1920.jpg')fixed no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.cont_top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    perspective: 1000px;
    padding-bottom: 60px;
    /*background: red;*/
}


.cont_top h1 {
    color: var(--ceu);
    font-size: 50pt;
    font-family: monospace;
    margin-top: 20px;
    transform: rotateX(70deg);
    transform-style: preserve-3d;
}

.cont_top h2{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    transform: rotateX(70deg);
    transform-style: preserve-3d;
}

.cont_top > *{
    transition: 1s;
}

.cont_top > *:hover{
    transform: translateX(0);
}

.cont_top p {
    font: 20pt monospace;
    color: white;
    margin-top: 15px;
    transform: rotateX(70deg);
    transform-style: preserve-3d;
} 

hr{
    color: var(--ceu);
    background: var(--ceu);
    border-color: var(--ceu);
}

hr {
    width: 20%;
    margin: 0 auto;
    height: 3px;
    /*background: #000;*/
    /*border-color: #000;*/
    border-radius: 100%;
}
 

.infor {
    width: 100%;
    background: url('../img/fundo01.jpg') fixed;
    background-position: bottom;
    background-size: 40%;
}

.borda {
    /*position: absolute;*/
    /*margin: 25px 90px;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    padding-bottom: 200px;
}

.borda > div{
    background: var(--branco);
    padding: 40px;
    clear: both;
    margin: 0;
    color: white;
    box-shadow: 0 0 20px silver;
    border-radius: 10px;
}

.borda > div *{
    /*color: white;*/
}

.borda > div * + *{
    margin-top: 10px;
}

.infor #ifo01 {

}

.infor #ifo02 {
}

.infor #ifo03 {
}

form{
    padding: 20px;
    z-index: 3;
}
fieldset{
    z-index: 3;
    /*width: 450px;
    height: 350px;
    padding: 20px;
    margin: 0 250px 0 350px;
    background: #ce64;
    border:none;
    border-radius: 15px;*/
    margin: 50px auto;
    width: 50%;
    height: auto !important;
    /*margin: auto;*/
    padding: 20px;
}

fieldset #nome, #email{
    width: 100%;
    padding: 10px;
    display: block;
    margin: 7px 0 20px;
    height: 35px;

}
fieldset p{
    position: absolute;
    margin-left: 19px;

}
fieldset #msg{
    width: 100%;
    margin-top: 30px;
    /*border-radius: 5px;*/
}
fieldset #env{
    width: 20%;
    height: 35px;
    color: azure;
    background-color: var(--leijo);
    font-size: 12pt;
    border: none;
    border-radius: 5px;
    text-align: center;

}
fieldset #env:hover{
    cursor: pointer;
    /*color: #000;*/
    /*background: rgba(204, 102, 0, 0.486);*/
}
.form-control{
    background: rgba(#458, #474, #471, 0.5);
}

/* Responsividade*/
@media(max-width:1024px) {
    .menu {
        margin: auto;
        display: block;
        font: 12pt;

    }

    .cont_top h1 {
        font-size: 35pt;
    }

    .icone img {
        visibility: hidden;
    }
}

/* Fim de responsividade*/

.btn {
    border: none;
    background: var(--trans);
    border: 1px solid var(--leijo);
    width: 100px;
    height: 30px;
    color: #f2f2f2;
    font-size: 14px;
    /*border-radius: 25px;*/
    
}
.btn a{
    text-decoration: none;
    color: var(--leijo);
}
.btn:hover a{
    /*background: #c60;*/
    cursor: pointer;
    color: white;
}


footer p {
    padding: 20px;
    color: white;

}

footer p a {
    
    text-decoration: none;
}
